body {
  font-family: "Cormorant Garamond", serif;
  font-size: 14px;
  font-weight: 400;
  color: #303f3c;
  background-color: #e1ddd5;
}

a {
  color: #e1ddd5;
  text-decoration: none;
}

input,
textarea {
  outline: none;
}

#wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.container {
  display: flex;
  max-width: 1400px;
  padding: 0 115px;
  margin: 0 auto;
  width: 100%;
  flex-direction: column;
}

#header {
  display: flex;
  justify-content: center;
}

#header .container {
  max-width: 100%;
  justify-content: space-between;
  align-items: stretch;
  padding-top: 15px;
  padding-bottom: 15px;
  flex-direction: row;
  color: #e1ddd5;
  background: #726753;
}

.container .logo {
  align-items: stretch;
  z-index: 0;
}

.logo img {
  max-width: 80px;
}

.main-nav {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}
#menu__toggle {
  opacity: 0;
  display: none;
}
.menu__btn {
  display: flex;
  align-items: center;
  position: relative;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 3;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #e1ddd5;
}
.menu__btn > span::before {
  content: "";
  top: -8px;
}
.menu__btn > span::after {
  content: "";
  top: 8px;
}
.menu__box {
  display: block;
  position: absolute;
  visibility: hidden;
  background: #726753;
  top: 0;
  right: -100%;
  width: 50%;
  margin: 0;
  padding: 100px 0 20px 0;
  list-style: none;
  text-align: center;
  z-index: 2;
}
.menu__box li {
  position: relative;
}
.menu__item {
  display: block;
  text-decoration: none;
}
.menu__item:hover {
  color: #ff9e17;
}
.menu__item::before {
  content: "";
  width: 0;
  transition: width 1s;
}
.menu__item:hover::before {
  content: "";
  border-bottom: 1px solid #ff9e17;
  width: 25px;
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
}
#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  right: 0;
}

.cite_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}

.image_container,
.blockquote_container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 50%;
}

.image_container {
  min-height: 80vh;
  height: 100%;
  flex: 1;
  background: url("../images/logoAMasliy.png") no-repeat center / contain;
}

.blockquote-wrapper {
  display: flex;
  flex: 2;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

/* center the blockquote in the page */
.blockquote-container {
  display: flex;
  width: 100%;
  padding: 0 20px;
}

/* Blockquote main style */
.blockquote {
  position: relative;
  font-weight: 800;
  padding: 30px 0;
  width: 100%;
  max-width: 500px;
  z-index: 1;
  margin: 80px auto;
  align-self: center;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

/* Blockquote header */
.blockquote h1 {
  position: relative;
  color: #303f3c;
  font-size: 40px;
  font-weight: 800;
  line-height: 1;
  margin: 0;
}

/* Blockquote right double quotes */
.blockquote:after {
  position: absolute;
  content: "”";
  color: #303f3c;
  font-size: 10rem;
  line-height: 0;
  bottom: -42px;
  right: 30px;
}

/* Blockquote subheader */
.blockquote h4 {
  position: relative;
  color: #303f3c;
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1;
  margin: 0;
  padding-top: 20px;
  z-index: 1;
}

.text_wrapper,
.accordion_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text_container,
.accordion {
  width: 100%;
  max-width: 70%;
  text-align: center;
}

.text_container p {
  font-size: 30px;
  font-weight: 700;
}

.card_wrapper {
  margin: 0;
  display: grid;
  align-items: center;
  justify-items: center;
  padding: 40px;
  color: #f4f7f7;
  overflow-x: hidden;
}

.card_wrapper input {
  position: absolute;
  width: 1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
  white-space: nowrap;
}

.selector {
  display: grid;
  grid-template-areas:
    "happy lovers"
    "pick  pick";
}

/* the cards and toggle buttons are actually fat labels that can be clicked to set radio buttons */
.card_wrapper label {
  display: block;
  cursor: pointer;
}

.happy-card,
.lovers-card {
  position: relative; /* for iOS */
  width: 350px;
  padding: 20px;
  border-radius: 30px;
  color: #586875;
  background-color: #f4f7f7;
  box-shadow: 0 10px 20px #0006;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out; /* important to use a symmetrical timing function (linear also works) */
  animation-fill-mode: forwards;
}

.happy-card {
  grid-area: happy;
  margin-right: -10px; /* nudge closer to lover's card */

  /* these values are used to animate via translateX */
  --swing: -25px;
  --overlap: 25px;
}

.lovers-card {
  grid-area: lovers;
  margin-left: -10px; /* nudge closer to happy card */

  /* these values are used to animate via translateX */
  --swing: 25px;
  --overlap: -25px;
}

/* when a radio button is set, swing the corresponding card fowards */
#happy-radio:checked ~ .selector .happy-card,
#lovers-radio:checked ~ .selector .lovers-card {
  animation-name: swing-forwards;
}

@keyframes swing-forwards {
  0% {
    z-index: 1; /* start behind other card */
    transform: scale(0.9);
  }
  50% {
    transform: translateX(var(--swing));
  }
  100% {
    z-index: 2; /* end in front of other card */
    transform: translateX(var(--overlap)) scale(1.1);
  }
}

/* when a radio button is set, swing the opposite card backwards */
#happy-radio:checked ~ .selector .lovers-card,
#lovers-radio:checked ~ .selector .happy-card {
  animation-name: swing-backwards;
}

@keyframes swing-backwards {
  0% {
    z-index: 2; /* start in front of other card */
    transform: translateX(var(--overlap)) scale(1.1);
  }
  50% {
    transform: translateX(var(--swing));
  }
  100% {
    z-index: 1; /* end behind other card */
    transform: scale(0.9);
  }
}

.card_wrapper h1 {
  margin: 0;
  padding-bottom: 10px;
  border-bottom: 1px dashed #bdd6d2;
  font-size: 2rem;
}

.card_wrapper ul {
  margin: 15px 0;
  padding-left: 30px;
  line-height: 1.5rem;
  font-size: 1.25rem;
  list-style-type: square;
}

.card_wrapper p {
  margin: 0 -20px -20px;
  padding: 15px;
  background-color: #bdd6d2;
  font-weight: bold;
  font-size: 1.7rem;
  border-radius: 0 0 30px 30px;
  text-align: center;
}

.happy-pick,
.lovers-pick {
  grid-area: pick;
  margin: 50px auto 0;
  padding: 15px;
  border: 1px solid #f4f7f7;
  border-radius: 9999px;
  background-color: #b46d73;
  font-size: 1.25rem;
  -webkit-user-select: none;
  user-select: none;
}

.happy-pick::before,
.lovers-pick::after {
  display: inline-block;
  font-weight: bold;
}

.happy-pick::before {
  margin-right: 10px;
  content: "\f0a8"; /* fa-arrow-circle-left */
}

.lovers-pick::after {
  margin-left: 10px;
  content: "\f0a9"; /* fa-arrow-circle-right */
}

/* hide happy toggle button if happy is currently selected */
#happy-radio:checked ~ .selector .happy-pick {
  display: none;
}

/* hide lover's toggle button if lover's is currently selected */
#lovers-radio:checked ~ .selector .lovers-pick {
  display: none;
}

.comments-singler-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_slider {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.single-item {
  width: calc(100% - 100px);
}
.single-item img {
  width: 100%;
  max-width: 350px;
  height: 350px;
  object-fit: contain;

  padding: 5px;
}
#my-arrow-prev,
#my-arrow-next {
  display: flex;
  z-index: 1;
}
#my-arrow-prev {
  order: -1;
}
.main_slider span {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #303f3c;
  font-size: 25px;
  width: 40px;
  height: 40px;
  box-shadow: 6px 6px 9px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border: none;
  border-radius: 50%;
  position: relative;
}
.main_slider span:hover {
  background: #303f3c;
  color: #ffffff;
}
#my-arrow-prev span {
  left: 50%;
}
#my-arrow-next span {
  right: 50%;
}

.tab input,
.tab-content {
  display: none;
}
.tab {
  font: 0.8rem/1.2 Arial, sans-serif; /* Параметры шрифта */
  border: 1px solid #e9eaec; /* Параметры рамки */
  border-radius: 3px; /* Скругляем уголки */
  color: #848994; /* Цвет текста */
  margin-bottom: 10px; /* Расстояние между пунктами */
}
.tab-title {
  padding: 10px; /* Поля вокруг текста */
  display: block; /* Блочный элемент */
  text-transform: uppercase; /* Все буквы заглавные */
  font-weight: bold; /* Жирное начертание */
  cursor: pointer; /* Вид курсора */
}
.tab-title::after {
  content: "+"; /* Выводим плюс */
  float: right; /* Размещаем по правому краю */
}
.tab-content {
  padding: 10px 20px; /* Поля вокруг текста */
}
.tab :checked + .tab-title {
  background-color: #50a2de; /* Цвет фона */
  border-radius: 3px 3px 0 0; /* Скругляем уголки */
  color: #fff; /* Цвет текста */
}
.tab :checked + .tab-title::after {
  content: "−"; /* Выводим минус */
}
.tab :checked ~ .tab-content {
  display: block; /* Показываем содержимое */
}

#image_full {
  width: 100%;
}

#image_full div {
  display: block;
  position: relative;
  padding-top: 73%;
  background-size: cover;
  overflow: hidden;
}

#contacts {
  display: flex;
  flex-direction: row;
}

.contacts-info-wrapper,
.contacts-form-wrapper {
  display: flex;
  max-width: 50%;
  width: 100%;
  padding: 30px;
}

.contacts-info-wrapper {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.contacts-info-wrapper ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.contacts-info-wrapper li {
  display: flex;
  margin: 10px 0;
}

.contacts-info-wrapper label {
  margin-left: 20px;
}

.contacts-info-wrapper a {
  font-size: 30px;
  color: #000;
}

.contacts-form-wrapper h2 {
  margin-top: 0;
  font-size: 2rem;
  font-weight: 500;
}
.contacts-form-wrapper form {
  position: relative;
  width: 100%;
  border-radius: 30px;
  background: #fff;
}
.form-left-decoration,
.form-right-decoration {
  content: "";
  position: absolute;
  width: 50px;
  height: 20px;
  border-radius: 20px;
}
.form-left-decoration {
  bottom: 60px;
  left: -30px;
}
.form-right-decoration {
  top: 60px;
  right: -30px;
}
.form-left-decoration:before,
.form-left-decoration:after,
.form-right-decoration:before,
.form-right-decoration:after {
  content: "";
  position: absolute;
  width: 50px;
  height: 20px;
  border-radius: 30px;
  background: #fff;
}
.form-left-decoration:before {
  top: -20px;
}
.form-left-decoration:after {
  top: 20px;
  left: 10px;
}
.form-right-decoration:before {
  top: -20px;
  right: 0;
}
.form-right-decoration:after {
  top: 20px;
  right: 10px;
}
.circle {
  position: absolute;
  bottom: 80px;
  left: -55px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
}
.form-inner {
  padding: 40px;
}
.form-inner input,
.form-inner textarea {
  display: block;
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
  border: none;
  border-radius: 20px;
  background: #d0dfe8;
}
.form-inner textarea {
  resize: none;
}
button {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  border-radius: 20px;
  border: none;
  border-bottom: 4px solid #3e4f24;
  background: #5a7233;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
button:hover {
  background: #3e4f24;
}

@media (max-width: 1399px) {
  .container {
    padding: 20px 15px;
  }
}
@media (max-width: 991px) {
  .card_wrapper {
    padding: 30px 0;
  }
}
@media (min-width: 768px) {
  .menu__box {
    display: flex;
    position: relative;
    visibility: visible;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    justify-content: flex-end;
    align-items: center;
    z-index: 0;
  }
  .menu__box li {
    margin-left: 30px;
    position: relative;
  }
  .menu__btn {
    display: none;
  }
}
@media (max-width: 767px) {
  .container .logo {
    z-index: 3;
  }
  .menu__box {
    width: 100%;
  }
  .menu__item:hover::before {
    bottom: 5px;
  }
  .menu__box li {
    padding: 10px 0;
  }
  .happy-card,
  .lovers-card {
    width: 300px;
  }
  .main_slider {
    width: 90%;
  }
  .single-item img {
    max-width: 100%;
  }
}

@media all and (min-width: 600px) {
  .blockquote h1 {
    font-size: 60px;
  }
}
@media (max-width: 569px) {
  .happy-card {
    margin-right: -85px;
    --swing: -100px;
  }

  .lovers-card {
    margin-left: -85px;
    --swing: 100px;
  }
}
